* {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-box {
    width:350px;
    //background-color:red;
    padding:20px;


    .form-group {
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;

        .form-label {
            margin-bottom:10px;
        }

        .form-input {
            padding:10px;
            border:1px solid silver;
        }
    }
}

.btn {
    display:inline-block;
    width:200px;
    padding:10px;
    background-color: lightgreen;
    font-size:20px;
    border-radius:10px;
    text-align:center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.weather-details-box {
    width:500px;
    display:flex;
    flex-direction: row;
    
    .left-box {
        display:flex;
        flex-direction: column;
        width:70%;

        .titles-box {
            padding:20px;
            .country-text {
                font-size:30px;
            }

            .city-text {
                font-size:20px;
            }
        }
        
        .condition-box {
            padding:20px;
            display:flex;
            flex-direction: row;
            align-items: center;

            .condition-icon {
                width:60px;
                height:60px;
                margin-right:30px;
                border: none;
            }

            .condition-text {
                font-size:40px;
            }
        }

        .details-box {
            padding:20px;
            
            .feature-text {
                margin-bottom:5px;
            }
        }
    }

    .right-box {
        display:flex;
        justify-content: center;
        align-items: center;
        width:30%;

        .temperature-text {
            font-size:60px;
            letter-spacing: 4px;
            font-weight: 300;
        }
    }
}

.custom-divider {
    display:block;
    border:1px solid green;
    margin-top:10px;
    margin-bottom:10px;

}